/* src/AboutMe.css */


  
  /* Centering the Header */
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Centering the Profile Section */
  /* .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
   */
  .headshot {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .biography {
    float: right;
    max-width: 600px;
    text-align: center;
  }
  
  .biography h2 {
 
  }
  
  /* Centering the Skills Section */
  .skills-section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .skills-image {
    max-width: 100%;
    height: auto;
  }
  
  /* Centering the Resume Section */
  .resume-section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .resume-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .resume-link:hover {
    background-color: #0056b3;
  }
  
  /* Centering the Images Section */
  .images-section {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  