.project-timeline {
    padding: 16px;
    text-align: center;
  }
  
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-dates {
    font-size: 16px;
    margin: 0;
  }
  